<div class="fix">
  <mat-toolbar color="primary">
    <span class="mat-toolbar-row">
      <a routerLink="/">
        <span class="material-icons"> flutter_dash </span>
      </a>
      <span class="spacer"></span>
      &nbsp; &nbsp;
      <h1 mat-typography class="mat-headline">Bored get ideas!</h1>
    </span>
    <button
      class="mr"
      mat-raised-button
      color="accent"
      (click)="openParticipantDialog()"
    >
      Get ideas
    </button>
  </mat-toolbar>
</div>

<div class="gap"></div>
<ng-container>
  <div class="center" *ngIf="!(fetchedData$ | async)?.length">
    <div class="boiler-plate">
      World is waiting to explored! Get ideas and Collect them.
    </div>
  </div>
</ng-container>

<div class="container" *ngIf="(fetchedData$ | async)?.length">
  <div *ngFor="let note of fetchedData$ | async">
    <div class="card">
      <h2>{{ note.activity }}</h2>

      <button mat-button color="warn" mat-stroked-button (click)="removeItem(note.key)">
        Remove
      </button>
      <mat-chip-set aria-label="Participants Info">
        <mat-chip color="primary">
          <span> Participants {{ note.participants }} </span>
        </mat-chip>
      </mat-chip-set>
    </div>
  </div>
</div>

<!-- <app-snackbar-notifications
  [message]="'Disco party!'"
  [action]="'Dance'"
></app-snackbar-notifications> -->

<!-- <mat-form-field>
  <mat-label>Message</mat-label>
  <input matInput value="Disco party!" #message>
</mat-form-field>

<mat-form-field>
  <mat-label>Action</mat-label>
  <input matInput value="Dance" #action>
</mat-form-field> -->