.card {
  width: 90%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #320246;
  box-shadow: 0px 5px 5px 0px #69f0ae;
  border-radius: 12px;
  gap: 30px;
  transition: transform 0.3s ease;
  &:hover {
    box-shadow: 0px 5px 10px 0px #7b1fa2;
  }
  .on-hover {
    display: none; /* Initially hide the content */
    transition: opacity 1.3s ease;
    opacity: 0;
  }

  &:hover .on-hover {
    display: flex; /* Show the content when card is hovered */
    align-items: start;
    opacity: 1;
    // padding-top: 5px;
    // padding-left: 10px;
  }
}

.fix {
  position: fixed;
  width: 100vw;
  z-index: 99;
}

.gap {
  height: 100px;
}
.mr {
  margin-right: 20px;
}
.shadow {
  box-shadow: 0px 5px 10px 0px grey;
  font-size: 11px !important;
}

.btn-shadow {
  box-shadow: 0px 5px 10px 0px silver;
}
.boiler-plate {
  width: 90vw;
  height: 30vh;
  box-shadow: 1px 1px 5px 0px #7b1fa2;
  border-radius: 12px;
  color: rgb(149, 146, 146);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
