<ng-container *ngIf="boredActivity$ | async as boredActivity">
  <mat-dialog-content>
    <h2>{{ boredActivity.activity }}</h2>
    <mat-chip-set aria-label="Dog selection">
      <mat-chip>
        <span> Domain - {{ boredActivity.type | uppercase }} </span>
      </mat-chip>
      <mat-chip  color="primary">
        <span > Participants {{ boredActivity.participants }} </span>
      </mat-chip>
    </mat-chip-set>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      class="font10"
      mat-raised-button
      color="primary"
      (click)="getIdeas()"
    >
      Get Another idea
    </button>
    <button
      class="font10"
      mat-raised-button
      color="accent"
      (click)="addToNotes(boredActivity)"
    >
      Add as Note
    </button>
    <button class="font10" mat-button [mat-dialog-close]="0">Cancel</button>
  </mat-dialog-actions>
</ng-container>
